body {
    font-family: arial,sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    test
}

ul {
    display: flex;
    list-style: none;
    cursor: pointer;
}

li {
    margin: 6px;
    outline-offset: 2px;
    line-height: 24px;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
}


.image {
    max-height: 200px;
    max-width: 272px;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    margin-bottom: 20px;
}
